  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
     *{
        margin:0;
        padding:0;
        border: 0;
     body{

      background-color: rgba(166, 193, 206, 0.774);
     }
     }
     header div {
        text-align :center; /*Alinhamento no meio do header */
        border-bottom: 3px solid white;
        background-color: rgb(255, 255, 255);
        padding: 32px;
     }
     header div a{
        color: rgb(102, 120, 156);/* a cor do texto */
        font-size:20px; /* tamanho da fonte */
        line-height: 30px; /* espaçamento da linha do texto */
        margin: 0 16px; /* espaçamento entre os textos */
        text-decoration: none; /* retirar decoração de texto */
        font-family: 'Roboto', sans-serif;
      }
      header div a:hover 
      {
         color: rgb(111, 163, 201);
         transition: color 700ms;
      }

      #box{
         text-align: center;
         padding: 32px;

      }

      #box img{
         border-radius: 100%;
         border: 5px solid rgb(38, 58, 146);
         margin-bottom: 32px;
      }

      #box h1{
         font-size: 42px;
         line-height: 52px;
         font-weight: bold;

         padding: 4px;

      }
      #box h2{
         font-size: 24px;
         line-height: 34px;
         font-weight: normal;
         margin-top: 8px;
         opacity: 0.8;

         padding: 10px;
      }
      #box p{
         max-width: 500px;
         margin: 32px auto;
         font-size: 24 px;
         line-height: 34px;

         font-size: 23px;
     }
     

      .links {
         text-align: center;
      }
      
      .links a {
      color: rgb(15, 24, 44);
      font-size: 25px;
      line-height: 30px;
      margin: 0 16px;
      text-decoration: none;
      }

      .links a :hover {
         color: var(--subcor);
         transition: 600ms;
         font-size: 23px;
      
      }

      .linksfooter{
      padding-top: 32px;


      }

      #linksFooter a{

         padding-top: 32px;
         padding-bottom: 8px;
         border-bottom: 3px solid var(--subcor);
      }
